body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: blueviolet;
}
.box {
  width: 300px;
  padding: 60px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  text-align: center;
  align-items: center;
}
h1 {
  text-transform: uppercase;
  color: whitesmoke;
}
.box input {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid blue;
  padding: 15px;
  width: 200px;
  border-radius: 50px;
  transition: 0.25s;
  align-content: center;
}
.box input:focus {
  width: 300px;
  border-color: gray;
  transition: 0.25s;
  background-color: white;
  /* transform: scalex(1.35); */
}
button {
  color: whitesmoke;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid#2f3640;
  padding: 14px 10px;
  width: 200px;
  border-radius: 50px;
  transition: 0.25s;
  cursor: pointer;
  font-size: medium;
}
button:hover {
  background-color: green;
}
